In [1]:
#Python Data Analysis Project : 

#Demographic Data Analyzer

#Importing our labraries

import pandas as pd

df = pd.read_csv("C:/Users/Sicelo/Documents/FreeCodeCamp Projects/Demographic Data Analyser/adult.data.csv")

#lets view the first few rows of this dataset

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info

<bound method DataFrame.info of        age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]>

In [4]:
#lets observe the columns of our dataset

df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [3]:
#Now lets answer some questions for the project:

#How many people of each race are represented in this dataset? 
#This should be a Pandas series with race names as the index labels. (race column)

race_count = df['race'].value_counts()

race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
#What is the average age of men?

#we can create a dataframe which only considers males

males = df[ df['sex'] == 'Male'] #subsetting males from our dataframe

male_age_average = males['age'].mean()

print(f"The average age of men : {round(male_age_average, 2)} ")

The average age of men : 39.43

In [11]:
#Now lets move to the next question

#What is the percentage of people that have a Bachelor's degree?

people_with_Bachelors = df[ df['education'] == 'Bachelors'].value_counts().sum()
print("The total number of people with Bachelors: ", people_with_Bachelors)

total_number_people = len(df)
print("The total number of people in the dataframe:", total_number_people)

Barchelor_percentage = (people_with_Bachelors/  total_number_people )*100

print(f"\nPercentage of people have a Bachelor's degree:  {round(Barchelor_percentage, 2)}% ")

The total number of people with Bachelors:  5355
The total number of people in the dataframe: 32561

Percentage of people have a Bachelor's degree:  16.45%

In [19]:
#Alternatively we can use the length function overall

number_of_bachelors = len(df[ df["education"] == 'Bachelors'])
number_of_people = len(df)

  
percentage_bachelors = round(number_of_bachelors/number_of_people*100, 2)

print(f"\nPercentage of people that have a Bachelor's degree:  {round(percentage_bachelors, 2)}% ")

Percentage of people have a Bachelor's degree:  16.45%

In [23]:
#What percentage of people with advanced education (Bachelors,Masters, or Doctorate) make more than 50K?

#we are asked to determine i.e a portion of people from those who have advanced education who earn more than 50K

#Since the salary variable is a format that doesnt allow us to perform computations 
#We convert it to another data type

df['salary'] = df['salary'].astype('string')

higher_education = df[ df['education'].isin(['Bachelors','Masters','Doctorate' ])]

higher_education_rich=round(len(higher_education[higher_education['salary']=='>50K'])/len(higher_education)*100,2)

print(f"The percentage of people with advanced education that are earning more than 5OK : {higher_education_rich}%")

The percentage of people with advanced education that are earning more than 5OK : 46.54%

In [24]:
#What percentage of people without advanced education make more than 50K?
#i.e a portion of people from those who do not have advanced education who earn more than 50K

lower_education = df[ ~df['education'].isin(['Bachelors','Masters','Doctorate' ])]

lower_education_rich = round(len(lower_education[lower_education['salary'] == '>50K'])/len(lower_education)*100, 2)
    
print(f"The percentage of people with advanced education that are earning more than 5OK : {lower_education_rich}%")

The percentage of people with advanced education that are earning more than 5OK : 17.37%

In [26]:
#What is the minimum number of hours a person works per week?

min_hours = df['hours-per-week'].min()

print("minimum number of hours a person works per week: ", min_hours)

minimum number of hours a person works per week:  1

In [27]:
#An additional question is that who is that person or those people?
#Retrieve a list of people who work those hours

df[ df['hours-per-week'] == min_hours ].index

Int64Index([  189,  1036,  1262,  5590,  5632,  5766,  5808,  8447,  9147,
            11451, 19337, 19750, 20072, 20909, 22960, 23536, 24284, 25078,
            29752, 32525],
           dtype='int64')

In [30]:
#What percentage of the people who work the minimum number of hoursper week have a salary of more than 50K?
#Since we know that the people who min hours per week work is one hour

min_hours_people = len(df[  df['hours-per-week'] == min_hours])
min_hours_rich = len(df[  (df['hours-per-week'] == min_hours)  &  (df['salary'] == ">50K")  ])


print("The number people who work the minimum number of hoursper week have a salary of more than 50K:  ", min_hours_rich)

percent = round(min_hours_rich/min_hours_people*100, 1)

print(f"\nThe percentage of the people who work the minimum number of hoursper week have a salary of more than 50K: {percent}%" )

The number people who work the minimum number of hoursper week have a salary of more than 50K:   2

The percentage of the people who work the minimum number of hoursper week have a salary of more than 50K: 10.0%

In [66]:
df[  (df['hours-per-week'] == 1)  &  (df['salary'] == ">50K")  ].index  #again we may ask ourselves who are those people

Int64Index([189, 20072], dtype='int64')

In [61]:
#What country has the highest percentage of people that earn more than 50K and what is that percentage?
#we must calculate based on the native countries individual populations not the entire dataframe population

country_count = df['native-country'].value_counts() 
country_count_rich = df[ df['salary']== ">50K"]['native-country'].value_counts()
  
highest_earning_country =  (country_count_rich/country_count*100).idxmax()
highest_earning_country_percentage = (country_count_rich/country_count*100).max()

print('highest_earning_country:', highest_earning_country)
print('highest_earning_country_percentage:', round(highest_earning_country_percentage,1))

highest_earning_country: Iran
highest_earning_country_percentage: 41.9

In [46]:
#What is the popular occupation in India that is also the highest earning.
new_df = df[ (df['salary'] == ">50K") & (df["native-country"] == "India")]

popular_occupation = new_df['occupation'].value_counts().idxmax()

popular_occupation

'Prof-specialty'